<div class="container pt-5 mt-5">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Booking</h1>

    <%= simple_form_for [@service_nanny, @booking] do |f|   %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :total_price, disabled: true, input_html: { value: @total_price } %>
      <%= f.button :submit, "Agendar", class: "btn btn-primary" %>
    <% end %>
    <%# form  %>
  </div>
</div>
