
<% if !user_signed_in? %>
<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>

<%= link_to "List of Nannies", service_nannies_path, class: "btn btn-primary" %>

<% if current_user.role == 'nanny' %>
    <h1> Ola, Seja bem vindo Nanny <%= current_user.name %></h1>
    <%= link_to 'Criar um Servico',  new_service_nanny_path, class: "btn btn-primary" %>
  <% else %>
    <h1> Ola, Seja bem vindo <%= current_user.name %></h1>
<% end %>
