<%= form_for(service_nanny) do |f| %>
  <div class="mb-3">
    <%= f.label :price, class: 'form-label' %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :days, class: 'form-label' %>
    <%= f.text_field :days, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.submit class: 'btn btn-primary' %>
    <% if service_nanny.id %>
      <%= link_to 'Cancel', service_nanny_path(service_nanny), class: 'btn btn-danger ms-2' %>
    <% else %>
      <%= link_to 'Cancel', root_path(service_nanny), class: 'btn btn-danger ms-2' %>
    <% end %>
  </div>
<% end %>
