

<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540479859555-17af45c78602?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Babá Express<strong> a melhor plataforma</strong> para te ajudar <strong> no sufoco</strong>!</h1>
    <p>Encontre alguém de confianca para cuidar de seus pequenos</p>

  </div>
</div>



<div class="container d-flex mt-5 justify-content-space-envenly">
  <div class="row">
  <% @service_nannies.each do |service_nanny| %>
    <div class="col-3">
    <p><% @nanny = User.find(service_nanny.user_id) %></p>

      <div class="card-trip m-3">
        <% img = ['https://images.unsplash.com/photo-1476703993599-0035a21b17a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80','https://images.unsplash.com/photo-1589169011402-8b2cbd1ee593?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=921&q=80', 'https://images.unsplash.com/photo-1542385151-efd9000785a0?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389', 'https://images.unsplash.com/photo-1508214406285-c765025445df?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870', 'https://images.unsplash.com/photo-1531983412531-1f49a365ffed?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870', 'https://images.unsplash.com/photo-1558642112-ea5dd749e03d?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464', 'https://images.unsplash.com/photo-1589529800500-8a1a1a047e0e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870', 'https://images.unsplash.com/photo-1585153401624-fdab499b1622?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=474', 'https://images.unsplash.com/photo-1560707854-7164b82713e0?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387'].sample %>
        <img src= "<%= img %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= @nanny.name %></h2>
            <p class="city mt-2"><%= @nanny.city %></p>
          </div>
          <h2 class="card-trip-pricing"> R$ <%= service_nanny.price %></h2>
        </div>
        <div class = "text-center mb-2" ><%= link_to 'Detalhes', service_nanny_path(service_nanny), class: "btn btn-primary"%></div>
      </div>
    </div>
  <% end %>
  </div>
</div>
