<h1> Service Nannys </h1>
<div class="container mt-5">
<p> <% @service_nannies.each do |service_nanny| %> </p>
  <p>Nanny</p>
  <p><% @nanny = User.find(service_nanny.user_id) %></p>
  <p><%= @nanny.email %></p>
  <p><%= @nanny.name %></p>
  <p>Id Nanny = <%= service_nanny.user_id %></p>
  <p>Price: <%= service_nanny.price %></p>
  <%= link_to 'Detalhes', service_nanny_path(service_nanny) %>
<p><% end %></p>

</div>
