<% @nanny = User.find(@service_nanny.user_id) %>

<div class="container pt-5 mt-5">
  <h1><%= @nanny.name %></h1>
    <div class="row">
      <div class="col-lg-8 pt-6">
        <h5 class="my-3 pt-3"><strong>City: <%= @nanny.city %></strong></h5>
        <h5 class="my-3 pt-3"><strong>Price: R$<%= @service_nanny.price %></strong></h5>
        <h5 class="my-3 pt-3"><strong>Days: <%= @service_nanny.days %></strong></h5>

        <h5 class="my-3 pt-3"><strong>Description:</strong></h5>
        <p><%= @description.description %></p>
      </div>

      <div class="col-lg-4">
        <div class="border p-4 pt-3 rounded">
          <h4 class="text-center"><strong>Simule o valor do serviço</strong></h4>
          <%= simple_form_for @service_nanny, url: url_for(action: :calculate, controller: 'service_nannies'), method: :post do |f| %>
            <%= f.input :days %>
            <div class="text-center pt-3"><%= f.button :submit, "Calcular", class: "btn btn-success" %></div>
          <% end %>

          <h6 class="my-3 text-center pt-3">Calculado com base no preço médio</h6>
            <div class="my-3 text-center pt-3">
              <output><h4>Total Price: <%= @total_price %></h4></output>
            </div>

          <%= button_to "Agendar", new_service_nanny_booking_path(@service_nanny), action: "new", method: :get , params: { total_price: @total_price } %>

          <div class="my-3 text-center">
            <!--<%= link_to 'Agendar', new_service_nanny_booking_path(@service_nanny), class: "btn btn-success" %> -->
          </div>
        </div>
      </div>
    </div>


  <%= link_to 'Voltar', service_nannies_path %>
  <% if current_user.id == @service_nanny.user_id %>
    <%= link_to 'Editar este serviço', edit_service_nanny_path(@service_nanny) %>
    <%= link_to 'Deletar', service_nanny_path(@service_nanny), method: :delete, data: { confirm: 'Certeza?' }, class: 'ms-3 text-danger' %>
  <% end %>
</div>
